.burger-container {
  gap: 4px;
  justify-content: center !important;
  width: 27px;
  height: 25px;
  &.active {
    > * {
      position: absolute;
    }
    :nth-child(1) {
      transform: rotate(40deg);
    }

    :nth-child(2) {
      opacity: 0;
    }

    :nth-child(3) {
      transform: rotate(-40deg);
    }
  }

  > * {
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.15s ease-in-out;
    transform-origin: center;
    background: black;
    height: 5px;
    width: 30px;
    border-radius: 15px;
  }
}
