.search-bar {
    svg>* {
        stroke: #000;
    }

    input {
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        // width: 300px;
        padding: 0 10px;
    }
}