.header {
    background-color: white;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;

    .mini-inputs {
        gap: 20px;
        margin-right: 10px;
    }

    .burger-menu {
        display: none;
    }

    .logo {
        svg {
            width: 35px;
            height: 35px;
        }
    }

    .search {
        margin: 0 auto 0 auto;
        width: 450px;
        max-width: 100%;
        // padding-left: 70px;
    }

    // .light {
    //     margin: 0 30px 0 auto;
    // }

    a {
        display: flex;
        align-items: center;
        padding: 0 30px;
        color: #2c3e50;
        font-weight: 500;
        line-height: 0;
        height: 100%;
        white-space: nowrap;

        &:not(.logo):hover {
            background-color: #3f3f3f17;
        }
    }

    @media only screen and (max-width: 1200px) {

        .search {
            padding-left: 50px;
        }
    }

    @media only screen and (max-width: 1100px) {

        .search {
            padding-left: 30px;
        }
    }

    @media only screen and (max-width: 980px) {

        .search {
            padding-left: 10px;
        }
    }

    @media only screen and (max-width: 1250px) {

        a {
            padding: 0 20px;
        }


    }

    @media only screen and (max-width: 900px) {
        .menu {
            .menu-items:not(.active) {
                display: none;
            }

            .burger-menu {
                display: block;

                svg {
                    $scale: 1.7;
                    width: calc(15px * #{$scale});
                    height: calc(11px * #{$scale});
                }
            }
        }

        .menu-items {
            z-index: 8888888888888888888888;
            background-color: #fff;
            flex-direction: column !important;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
            right: 0;
            top: calc(100% + 1px);
            min-height: calc(100vh - 61px);
            width: 50vw;

            a {
                padding: 25px 15px;
                height: auto;
                width: 100%;
            }
        }
    }
}